body
{
	margin: 0;
}

.timeline
{
	background: black;
	width: 100%;
	overflow-x: scroll;
	/*cursor: pointer;*/
}

.label
{
	color: white;

}
.track 
{
	height: 50px;
	width: 2000px;
	background: #555;	
	margin-bottom: 10px;
	position: relative;

}

.key-frame
{
	width: 50px;
	height: 50px;
	background: gray;

	position: absolute;
	left: 0;
	border-radius: 100px;
	border: 1px solid red;

	cursor: -webkit-grab;

}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
