$track-height: 20px;
$track-margin: 2px;
$key-frame-width: 8px;
body
{
	margin: 0;
	background: #033;
}

.timeline
{
	background: transparent;
	
	margin: 30px;
	cursor: default;
}

.track-legend
{
	background: black;
	float: left;
	width: 300px;
	height: 40px;
}

.ruler
{
	height: 40px;
	background: #222;
	
	overflow: hidden;
	position: relative;
}

.ruler:after
{
	

	display: block;
	position: absolute;

	top: 0;
	left: 0;
	width: 10000px;
	height: 10px;
	border: 1px solid red;
	content: "hi";
}
.track-labels
{
	float: left;
	width: 300px;
	height: 400px - 20px;
	overflow: hidden;
}

.track-scroll
{
	height: 400px;
	overflow-x: scroll;
	overflow-y: auto;

}

.track-label
{
	height: $track-height;
	margin-bottom: $track-margin;
	background: #333;
	color: #AAA;
}
.track 
{
	height:$track-height;
	margin-bottom: $track-margin;
	// width: 2000px;
	background: #555;	
	position: relative;

}

.key-frame
{
	position: absolute;
	
	box-sizing: border-box;

	width: $key-frame-width;
	height: $track-height;
	
	border: 1px solid #777;
	background: #222;

	cursor: grab;
}


.noselect {
	user-select: none;
}

.timeline {

	::-webkit-scrollbar {
	    width: 15px;
	    height: 15px;
	}
	 
	::-webkit-scrollbar-track {
	    background-color: transparent;
	}
	 
	::-webkit-scrollbar-thumb {
		background-color: red;
	}

	::-webkit-scrollbar-corner {
		background: transparent;
	}
}
