@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);

$track-height: 20px;
$track-margin: 2px;
$key-frame-width: 8px;
$scrollbar-width: 15px;
$timeline-max-height: 300px;
$ruler-height: 40px;
$label-width: 300px;

body
{
	margin: 0;
	background: #033;
	font-family: 'Source Code Pro', mono;
}

.timeline
{
	background: transparent;
	position: relative;

	margin: 30px;
	// cursor: default;
}

.inspector-container
{
	color: white;
	margin: 30px;
	background-color: #333;
	padding: 10px;
}

.inspector-container input
{
	background-color: black;
	color: #AAA;
	border: 1px solid #666;
	padding: 3px;
	font-size: 14px;
}

.inspector-container input:focus
{
	border: 1px solid #99B;
	outline: none;
}



#json-container
{
	color: white;
	margin: 30px;
	white-space: pre;
}

.track-legend
{
	float: left;
	width: $label-width;
	height: 40px;
}

.ruler-scroll
{
	height: $ruler-height;
	background: #222;
	
	overflow: hidden;
	position: relative;
}

.ruler 
{
	height: 100%;
	margin-bottom: $track-margin;
	width: 2000px;
	background: #333;	
	position: relative;
}

.tick
{
	position: absolute;
	
	box-sizing: border-box;

	height: $ruler-height;
	
	border-left: 1px solid #777;
	padding-left: 4px;
	color: white;

}

.playback-head
{
	position: absolute;
	
	box-sizing: border-box;

	height: 100%;
	
	border: 1px solid #F00;
	width: 20px;
	margin-left: -10px;
	background-color: rgba(255, 0, 0, .5);
	mix-blend-mode: lighten;
	padding-left: 4px;
	color: white;

	z-index: 1000;

}

.playback-line
{
	position: absolute;
	top: 0;
	box-sizing: border-box;

	height: 100%;
	
	border-left: 1px solid #F00;
	width: 1px;
	
	z-index: 1000;

}




.track-labels
{
	float: left;
	width: $label-width;
	max-height: $timeline-max-height - $scrollbar-width;
	overflow: hidden;
}

.track-scroll
{
	max-height: $timeline-max-height;
	overflow-x: scroll;
	overflow-y: auto;
	position: relative;

}

.track-label
{
	height: $track-height;
	margin-bottom: $track-margin;
	background: #333;
	color: #AAA;
}
.track 
{
	height:$track-height;
	margin-bottom: $track-margin;
	// width: 2000px;
	background: #555;	
	position: relative;



}

.key-frame
{
	position: absolute;
	
	box-sizing: border-box;

	width: $key-frame-width;
	height: $track-height;
	
	border: 1px solid #777;
	background: #222;

	// cursor: grab;
}

.scale {
	position: absolute;
	left: 0;
	bottom: 0;
	width: $label-width;
}




.noselect {
	user-select: none;
}

.timeline {

	::-webkit-scrollbar {
	    width: $scrollbar-width;
	    height: $scrollbar-width;
	}
	 
	::-webkit-scrollbar-track {
	    background-color: transparent;
	}
	 
	::-webkit-scrollbar-thumb {
		background-color: #999;
	}

	::-webkit-scrollbar-corner {
		background: transparent;
	}
}


input[type=range]{
    -webkit-appearance: none;
    background: transparent;
    margin: 0;
    padding: 0;
    height: $scrollbar-width;
}


input[type=range]::-webkit-slider-runnable-track {
	margin: 0 2px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    // border: none;
    height: $scrollbar-width;
    width: 5px;
    background: #999;

}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
}
